/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;

    font-family: fantasy, cursive;
}

.header_img {
    width: 100%;
}

@media (max-width: 768px) {
    .header {
      text-align: center;
    }
}

.main {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}

.add-task__form {
    display: flex;
}

.add-task__form_input {
    width: 56%;
    display: inline-block;
    flex-grow: 1
}

ul {
    margin: 0;
    padding: 0;
}

li, h3 {
    list-style: none;
}

input, button {
    outline: none;
}

button {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

button:hover {
    color: #3a3A3a;
}

.checkbox-input-label, .add-task__form .text-input-label  {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Heading */
.section-header {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.text-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #dDd;
    background: #FFF;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

.text-input:focus {
    color: #333;
}

/* New Task */
.add-task__header {
    display: block;
    margin: 0 0 20px;
}

#new-task {
    width: 318px;
}

/* Task list */
.list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item > * {
    vertical-align: middle;
}

.list-item > .checkbox-input {
    margin: 0 10px;
}

.text-input-label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.list-item > .text-input {
    width: 226px
}

.delete-btn_img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-btn_img:hover {
    transform: rotateZ(0);
}

/* Completed */
#completed-tasks .text-input-label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.list-item .text-input {
    display: none
}

.editMode .text-input {
    display: inline-block;
    width: 224px
}

.editMode .text-input-label {
    display: none;
}